.primerSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.titulo {
    color: white;
    letter-spacing: 10px;
}
.iconoModo {
    font-size: 22px;
    color: white;
    cursor: pointer;
}